    body{
        background: #dddddd;
        position: relative;
    }
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 45px;
        background: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 767px) {
        .markdown-body {
            padding: 15px;
        }
    }
    @media (max-width: 600px) {
        .markdown-body{
            margin-right: 12px;
            margin-left: 12px;
        }
    }
    .home-header{
        background: #465158;
        padding: 40px 0 40px 0;
        color: #fff;
        text-align: center;
    }
    .wrapper{
        position: relative;
        margin: 0 auto;
        padding: 0 auto;
        text-align: left;
        width: 80%;
    }
    @media screen and (max-width: 500px){
        .wrapper{
            width: 100%;
        }
    }
    .home-title{
        padding: 10px 0 10px 100px;
        background: url("/title_80x80.png") top left no-repeat;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    }
    .home-title h1 a{
        text-decoration: none;
        color: white;
    }
    #footer{
        display: none;
        height: 200px;
        width: 100%;
        margin-top: 30px;
        padding: 30px 0 10px 0;
        background: #465158;
        color: #BCC1C3;
        text-align: left;
    }
    #footer a{
        color: #BCC1C3;
        text-decoration: none;
        font-size: 2rem;
    }
    #footer a:hover{
        color: white;
        text-decoration: none;
    }
    #footer i{
        font-size: 1.3rem;
    }
    .markdown-body pre{
        border-radius: 6px!important;
    }
    .markdown-body h3,h4{
        font-weight: bold!important;
    }